.head{
	width: 100%;
	height: 100px;
	border: 1px solid black; 
}
#navigation{
	width:100%;
	height:30px;
	border: 1px solid red;
	background: #636976;
}
#navigation_ul{
	margin-top:0; 
	list-style-type: none;
}
#navigation>ul>li{
	float: left;
	margin-top:4px;
	margin-right: 72px; 
	
}

#navigation>ul>li>a{
	 text-decoration:none;
	 font-size: 12px;
	 color: #ffffff;
}
#sort_1{
	width: 100%;
	height: 66px;
	border: 1px solid yellow;
}

#sort_ul{
	margin-top:0; 
	list-style-type: none;
}
#sort_ul>li{
	float: left;
	letter-spacing: 2px;
}
#sort_ul>li>a{
	 text-decoration:none;
	 font-size: 18px;
	 color: #808080;
	 text-align: center;
	 line-height:66px;
}
#sort_ul img{
	width: 65;
	height: 65;
	border: 1px solid  red;
}