.sort_1{
	position: relative;
	height:380px;
	width:380px;
	/* border: 1px solid red; */
	
}
.reqv{
	height:260px;
	width:240px;
/* 	border: 1px solid yellow; */
	text-align:center;
    margin-left: 68px;
}

 .veil{
	 width: 380px;
	 height: 380px;
	  top: 0; 
	  left: 0; 
	  position: absolute; 
	  background: #000; 
	  opacity:0;
	  filter(alpha=0);
	  border: 1px solid red;
}
 .veil:hover{ 
 	  opacity:0.5;
 	  filter(alpha=50)
 }

.reqv_text{
	padding-top:150px;
	font-size: 26px;
	color: #ffffff;
}
.yc p{
	width:210px;
	height:40px;
	margin-top: 0px;
	text-align:center; 
    line-height:40px;   
	color: #ffffff;
	font-size: 14px;
}
 .yc{
	width:210px;
	height:40px;
	margin:290px 0 0 85px;
	display:none;
	border:1px solid #ffffff;
} 

.yc :hover{
	background: #ffffff;
	color: #00ffff;	
}


#sort{
	width:1200px;
	height:410px;
	text-align: center;
	/* border: 1px solid black;  */
/* 	margin-left: auto; */
margin: 20px auto 0px auto;
	
}
#sort ul{
	list-style-type:none;
	float:left;
	margin:0px;
	padding:0px;
/* 	text-align: center; */
margin: 0 auto;
}
.ul li{
	 margin:8.5px;
	 padding:0px;
	 float:left;
	 width:382px;
	 height:382px;
	 display: inline;
}
